.inspector {
  margin: var(--spacing-l) 0;
}

.panel {
  border-bottom: 1px solid var(--border-color);
}

.panelHandle {
  all: inherit;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-weight: 500;
  background: var(--light-bg-color);
  border: 0;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background: var(--lighter-bg-color);
  }
}

.panelBody {
  padding: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.groupDescription {
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: var(--font-size-s);
}

.propertyGroup {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.propertyOrMethod {
  border-bottom: 1px solid var(--border-color);
  line-height: 1.2;

  p {
    margin: 0;
  }
}

.propertyOrMethodBody {
  padding: 15px;
}

.propertyOrMethodExample {
  position: relative;

  pre {
    padding: 15px;
    background: var(--light-bg-color);
    font-size: 0.8em;
    margin: 0;
    max-height: 240px;
    overflow: auto;
  }
}

.propertyOrMethodName {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: var(--light-body-color);
  font-family: var(--monospaced-font-family);
  font-size: 0.9em;
  margin-bottom: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.propertyOrMethodExampleActions {
  padding: 15px;
  background: white;
  display: flex;

  > * {
    margin-right: 10px;
  }
}
