.TextareaInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color--border);
  appearance: none;
  border-radius: 0;
  background-color: var(--color--surface);
  background-image: none;
  transition: border 0.2s var(--material-ease);
  font-size: var(--font-size-m);
  resize: none;
  font-family: inherit;
  color: inherit;

  &::placeholder {
    color: var(--color--ink-placeholder);
  }

  &:hover {
    border-color: var(--color--border-hover);
  }

  &:focus {
    outline: 0;
    border-color: var(--color--focus--border);
    box-shadow: 0 0 0 4px var(--color--focus--outline);
  }
}

.TextareaInput--monospaced {
  font-family: var(--monospaced-font-family);
  font-size: var(--font-size-s);
}

.TextareaInput--disabled {
  color: var(--color--disabled--ink);
  border-color: var(--color--border);
  background: var(--color--disabled--surface);
}

.TextareaInput--error {
  border-color: var(--color--feedback-fail--border);

  &:hover,
  &:focus {
    border-color: var(--color--feedback-fail--border);
  }

  &:focus {
    box-shadow: 0 0 0 4px var(--color--feedback-fail--outline);
  }
}
