.Section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.Section--highlighted:before {
  content: '';
  position: absolute;
  top: -20px;
  right: -30px;
  bottom: -20px;
  left: -30px;
  box-shadow: 0 0 0 4px var(--color--focus--border);
  border-radius: 4px;
  animation: pageContentSectionHighligh 4s 0.25s ease-in-out forwards;
  pointer-events: none;
  z-index: 10;
}

.Section__header {
  margin-left: var(--negative-spacing-l);
  margin-right: var(--negative-spacing-l);
}

.Section__header--clickable {
  cursor: pointer;
  user-select: none;

  &:hover .Section__arrow:before {
    opacity: 0.7;
  }
}

.Section__title {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;

  &:before,
  &:after {
    height: 1px;
    content: '';
    background-color: var(--color--border);
  }

  &:before {
    width: calc(var(--spacing-l) - var(--spacing-m));
  }

  &:after {
    flex: 1;
    margin-right: var(--spacing-l);
  }
}

.Section__title__content {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

.Section__arrow {
  position: relative;
  width: 15px;
  align-self: stretch;
  margin-right: 0.3em;

  &:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--color--ink);
    left: 6px;
    top: 50%;
    margin-top: -6px;
    transition: transform 0.2s ease-out;
    transform-origin: 50% 50%;
  }
}

.Section__arrow--is-open:before {
  transform: rotate(90deg);
}

@keyframes pageContentSectionHighligh {
  0% {
    box-shadow: 0 0 0 4px var(--color--focus--border),
      0 0 0 4px var(--color--focus--outline);
  }
  15% {
    box-shadow: 0 0 0 4px var(--color--focus--border), 0 0 0 80px transparent;
  }
  75% {
    box-shadow: 0 0 0 4px var(--color--focus--border), 0 0 0 80px transparent;
  }
  100% {
    box-shadow: 0 0 0 4px transparent, 0 0 0 80px transparent;
  }
}
