.Dropdown {
  position: relative;
}

.Dropdown__spacer {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.Dropdown__menu__search {
  padding: 7px;
  border-bottom: 1px solid var(--border-color);
}

.Dropdown__menu__search__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--border-color);
  appearance: none;
  background-image: none;
  transition: border 0.2s var(--material-ease);
  resize: none;
  font-family: inherit;
  padding: 8px;
  border-radius: 3px;
  font-size: 0.9em;

  &::placeholder {
    color: var(--placeholder-body-color);
  }

  &:hover {
    border-color: var(--darker-border-color);
  }

  &:focus {
    outline: 0;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px var(--semi-transparent-accent-color);
  }
}

.Dropdown__menu-container {
  position: fixed;
  visibility: hidden;
}

.Dropdown__menu {
  min-width: 200px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: var(--spacing-xl);
  padding: 1px 0;
  text-align: initial;
  margin-top: 10px;
}

.Dropdown__menu__inner {
  margin: 7px 0;
}

.Dropdown__menu--fullscreen {
  position: fixed;
  top: var(--spacing-xl);
  right: var(--spacing-l);
  bottom: 1em;
  margin-bottom: var(--spacing-xxl);
  left: var(--spacing-l);
  z-index: 2;
  pointer-events: auto;
  animation: FullscreenDropdown__appear 0.2s ease-out forwards;
}
@keyframes FullscreenDropdown__appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Dropdown__menu__close {
  position: fixed;
  text-align: center;
  top: auto;
  right: var(--spacing-l);
  bottom: var(--spacing-l);
  left: var(--spacing-l);
  z-index: 2;
  margin-bottom: 0;
  animation: FullscreenDropdown__appear 0.25s ease-out forwards;
}

.Dropdown__menu__group__title {
  padding: 5px 15px 3px;
  color: var(--light-body-color);
  background-color: var(--light-bg-color);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

.Dropdown__menu__group__content {
  margin: 8px 0;
}

.Dropdown__menu__text {
  text-align: left;
  padding: 4px 15px;
  color: var(--light-body-color);
  position: relative;
  display: block;
  line-height: 1.2;
}

.Dropdown__menu__option {
  text-align: left;
  padding: 4px 15px;
  color: var(--base-body-color);
  position: relative;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    background-color: var(--light-bg-color);
  }

  & > a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.Dropdown__menu__option--is-selected {
  background-color: var(--light-bg-color);
}

.Dropdown__menu__option--is-disabled {
  opacity: 0.5;

  .Dropdown__menu__option__content {
    cursor: not-allowed;
  }
}

.Dropdown__menu__option--is-dangerous {
  color: var(--alert-color);

  svg {
    fill: var(--alert-color);
  }

  &:hover,
  &:focus {
    background-color: var(--alert-color);
    color: white;

    svg {
      fill: white;
    }
  }
}

.Dropdown__menu__option--is-active {
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: none;
  }
}

.Dropdown__menu__option--is-valid {
  padding-left: 35px;
}

.Dropdown__menu__option--is-invalid {
  padding-left: 35px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 12px;
    border-radius: 4px;
    height: 8px;
    width: 8px;
    background-color: var(--alert-color);
  }
}

.Dropdown__menu__option__content {
  flex: 1;
  text-align: left;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font-size: inherit;

  > svg {
    font-size: 13px;
    padding-right: 8px;
    display: inline-block;
    vertical-align: middle;
    color: var(--light-body-color);
    fill: var(--light-body-color);
  }
}

.Dropdown__menu__option__icons {
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.Dropdown__menu__option__icon {
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: transparent;
  color: var(--base-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  width: 100%;
  font-size: inherit;
  width: auto;
  opacity: 0;
  line-height: 10px;
  color: var(--light-body-color);
  padding: 3px;
  font-size: 13px;
  position: relative;
  top: -1px;
  display: inline-block;
  transition: transform 0.1s ease-in-out;

  .Dropdown__menu__option:hover & {
    opacity: 1;
  }
  .Dropdown__menu__option:focus & {
    opacity: 1;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  svg {
    fill: var(--light-body-color);
  }
}

.Dropdown__menu__option__icon--delete {
  color: var(--alert-color);
  svg {
    fill: var(--alert-color);
  }
}

.Dropdown__menu__separator {
  margin: 8px 0;
  height: 1px;
  background-color: var(--border-color);
}

.Dropdown__menu {
  overflow-y: auto;
}

.Dropdown__menu__mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10002;
  overflow: auto;

  .Dropdown__menu {
    -webkit-overflow-scrolling: touch;
  }
}

.Modal__backdrop {
  background: linear-gradient(
    to bottom,
    rgba(48, 48, 47, 0.9),
    rgba(48, 48, 47, 0.7)
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation: Modal__appear 0.2s var(--material-ease);
  animation-fill-mode: both;
  pointer-events: none;
}

@keyframes Modal__appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
