.themeVariables {
  /* Colors */
  --base-body-color-rgb-components: 52, 54, 58;
  --base-body-color: rgb(var(--base-body-color-rgb-components));
  --light-body-color-rgb-components: 132, 132, 132;
  --light-body-color: rgb(var(--light-body-color-rgb-components));
  --placeholder-body-color-rgb-components: 198, 198, 198;
  --placeholder-body-color: rgb(var(--placeholder-body-color-rgb-components));
  --light-bg-color-rgb-components: 245, 245, 245;
  --light-bg-color: rgb(var(--light-bg-color-rgb-components));
  --lighter-bg-color-rgb-components: 248, 248, 248;
  --lighter-bg-color: rgb(var(--lighter-bg-color-rgb-components));
  --disabled-bg-color-rgb-components: 237, 237, 237;
  --disabled-bg-color: rgb(var(--disabled-bg-color-rgb-components));
  --border-color-rgb-components: 240, 240, 240;
  --border-color: rgb(var(--border-color-rgb-components));
  --darker-border-color-rgb-components: 215, 215, 215;
  --darker-border-color: rgb(var(--darker-border-color-rgb-components));
  --alert-color-rgb-components: 255, 94, 73;
  --alert-color: rgb(var(--alert-color-rgb-components));
  --warning-color-rgb-components: 255, 215, 0;
  --warning-color: rgb(var(--warning-color-rgb-components));
  --notice-color-rgb-components: 70, 215, 0;
  --notice-color: rgb(var(--notice-color-rgb-components));
  --warning-bg-color-rgb-components: 255, 255, 229;
  --warning-bg-color: rgb(var(--warning-bg-color-rgb-components));
  --add-color-rgb-components: 76, 176, 109;
  --add-color: rgb(var(--add-color-rgb-components));
  --remove-color-rgb-components: 235, 87, 106;
  --remove-color: rgb(var(--remove-color-rgb-components));

  /* Fonts */
  --base-font-family:
    'colfax-web', 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
  --monospaced-font-family:
    'Roboto Mono', 'Menlo', 'Bitstream Vera Sans Mono', Consolas, Courier,
    monospace;
  --font-weight-bold: 500;

  /* Spacing */
  --spacing-s: calc(0.5 * 12 * 0.0625rem);
  --spacing-m: calc(1 * 12 * 0.0625rem);
  --spacing-l: calc(2 * 12 * 0.0625rem);
  --spacing-xl: calc(3 * 12 * 0.0625rem);
  --spacing-xxl: calc(5 * 12 * 0.0625rem);
  --spacing-xxxl: calc(8 * 12 * 0.0625rem);

  --negative-spacing-s: calc(-0.5 * 12 * 0.0625rem);
  --negative-spacing-m: calc(-1 * 12 * 0.0625rem);
  --negative-spacing-l: calc(-2 * 12 * 0.0625rem);
  --negative-spacing-xl: calc(-3 * 12 * 0.0625rem);
  --negative-spacing-xxl: calc(-5 * 12 * 0.0625rem);
  --negative-spacing-xxxl: calc(-8 * 12 * 0.0625rem);

  /* Font-size */
  --font-size-xxs: calc(11 * 0.0625rem);
  --font-size-xs: calc(12 * 0.0625rem);
  --font-size-s: calc(14 * 0.0625rem);
  --font-size-m: calc(15 * 0.0625rem);
  --font-size-l: calc(17 * 0.0625rem);
  --font-size-xl: calc(19 * 0.0625rem);
  --font-size-xxl: calc(25 * 0.0625rem);
  --font-size-xxxl: calc(30 * 0.0625rem);

  --material-ease: cubic-bezier(0.55, 0, 0.1, 1);
  --inertial-ease: cubic-bezier(0.19, 1, 0.22, 1);
}

.canvas {
  font-family: var(--base-font-family);
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: var(--base-body-color);
  font-size: var(--font-size-m);
  text-rendering: optimizeLegibility;
}
