.canvas {
  /* Colors */
  --base-body-color: #34363a;
  --light-body-color: #848484;
  --placeholder-body-color: #c6c6c6;
  --light-bg-color: #f5f5f5;
  --lighter-bg-color: #f8f8f8;
  --disabled-bg-color: #ededed;
  --border-color: #f0f0f0;
  --darker-border-color: #d7d7d7;
  --alert-color: #ff5e49;
  --alert-rgb-components: 255, 94, 73;
  --warning-color: #ffd700;
  --notice-color: #46d700;
  --warning-bg-color: #ffffe5;
  --add-color: #4cb06d;
  --remove-color: #eb576a;

  /* Fonts */
  --base-font-family: 'colfax-web', 'Roboto', 'Helvetica Neue', Helvetica,
    Roboto, Arial, sans-serif;
  --monospaced-font-family: 'Roboto Mono', 'Menlo', 'Bitstream Vera Sans Mono',
    Consolas, Courier, monospace;

  /* Spacing */
  --spacing-s: calc(0.5 * 12 * 0.0625rem);
  --spacing-m: calc(1 * 12 * 0.0625rem);
  --spacing-l: calc(2 * 12 * 0.0625rem);
  --spacing-xl: calc(3 * 12 * 0.0625rem);
  --spacing-xxl: calc(5 * 12 * 0.0625rem);
  --spacing-xxxl: calc(8 * 12 * 0.0625rem);

  /* Font-size */
  --font-size-xxs: calc(11 * 0.0625rem);
  --font-size-xs: calc(12 * 0.0625rem);
  --font-size-s: calc(14 * 0.0625rem);
  --font-size-m: calc(15 * 0.0625rem);
  --font-size-l: calc(17 * 0.0625rem);
  --font-size-xl: calc(19 * 0.0625rem);
  --font-size-xxl: calc(25 * 0.0625rem);
  --font-size-xxxl: calc(30 * 0.0625rem);
  --font-size-xxxl: calc(35 * 0.0625rem);
  --font-size-xxxl: calc(50 * 0.0625rem);

  --material-ease: cubic-bezier(0.55, 0, 0.1, 1);
  --inertial-ease: cubic-bezier(0.19, 1, 0.22, 1);

  font-family: var(--base-font-family);
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: var(--base-body-color);
  font-size: var(--font-size-m);
  text-rendering: optimizeLegibility;
}
