.switchField__flex {
  display: flex;
  align-items: center;
}

.switchField__switchInput {
  width: 55px;
}

.switchField__label {
  line-height: 1.1;
  flex: 1;
  line-height: 20px;
  pointer-events: none;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin-bottom: 0;
  color: var(--base-body-color);
}

.switchField__below {
  margin-top: var(--spacing-s);
  margin-left: 55px;
}
