.tooltip {
  padding: 10px 15px;
  color: var(--color--tooltip--ink);
  box-shadow: var(--shadow--floating);
  background: var(--color--tooltip--surface);
  border-radius: 4px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
