.tooltip {
  padding: 10px 15px;
  box-shadow: 0 1px 9px var(--color--shadow);
  background: var(--color--raised--surface);
  border-radius: 4px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
