.tooltip {
  padding: 10px 15px;
  box-shadow: var(--shadow--raised);
  background: var(--color--raised--surface);
  border-radius: 4px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
