.tooltip {
  padding: 10px 15px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 4px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
