.formLabel {
  display: flex;
  color: var(--light-body-color);
  margin-bottom: var(--spacing-s);
  align-items: center;

  &:hover {
    .formLabel__code {
      opacity: 1;
    }
  }
}

.formLabel--error {
  color: var(--alert-color);
}

.formLabel__label {
  flex: 1;
}

.formLabel__code {
  font-family: var(--monospaced-font-family);
  font-size: 0.95em;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s var(--material-ease);
}

.formLabel__required {
}
