.hotKey {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.label {
  display: flex;
  align-items: center;
}

.keys {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.hotKeyKey {
  padding: 5px 8px;
  background: var(--light-color);
  border-radius: 3px;
}
