.switchInput__inner {
  color: var(--color--primary--ink);
  font-size: 12px;
  position: absolute;
  left: 24px;
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.switchInput {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid var(--color--border);
  background-color: var(--color--ink-muted);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);

  &:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: var(--color--surface);
    content: ' ';
    cursor: pointer;
    box-shadow: 0 2px 5px var(--color--shadow);
    transform: scale(1);
    transition:
      left 0.3s cubic-bezier(0.35, 0, 0.25, 1),
      transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 0.3s;
    animation-name: switchInput__off;
  }

  &:hover:after,
  &:focus:after {
    transform: scale(1.1);
    animation-name: switchInput__on;
  }
}

.switchInput__checked {
  border: 1px solid var(--color--selected--border);
  background-color: var(--color--primary--surface);

  .switchInput__inner {
    left: 6px;
  }

  &:after {
    left: 22px;
  }
}

.switchInput__disabled {
  cursor: no-drop;
  background: var(--color--disabled--surface);
  border-color: var(--color--border);

  &:after {
    background: var(--color--disabled--ink);
    animation-name: none;
    cursor: no-drop;
  }

  &:hover:after,
  &:focus:after {
    transform: scale(1);
    animation-name: none;
  }
}

@keyframes switchInput__on {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes switchInput__off {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
