.switchInput__inner {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
}

.switchInput {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);

  &:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: #ffffff;
    content: ' ';
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    transform: scale(1);
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 0.3s;
    animation-name: switchInput__off;
  }

  &:hover,
  &:focus:after {
    transform: scale(1.1);
    animation-name: switchInput__on;
  }
}

.switchInput__checked {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);

  .switchInput__inner {
    left: 6px;
  }

  &:after {
    left: 22px;
  }
}

.switchInput__disabled {
  cursor: no-drop;
  background: #ccc;
  border-color: #ccc;

  &:after {
    background: #9e9e9e;
    animation-name: none;
    cursor: no-drop;
  }

  &:hover,
  &:focus:after {
    transform: scale(1);
    animation-name: none;
  }
}

@keyframes switchInput__on {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes switchInput__off {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
