.SidebarPanel {
  border-bottom: 1px solid var(--color--border);
}

.SidebarPanel__header {
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: var(--color--surface);
  color: var(--color--ink);
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: inherit;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color--surface-muted);
  user-select: none;
}

.SidebarPanel__header:hover,
.SidebarPanel__header:focus {
  background-color: var(--color--surface-hover);
}

.SidebarPanel__header__title {
  flex: 1;
  padding: 0 20px;
  font-weight: 500;
}

.SidebarPanel__header__chevron {
  padding: 13px 15px;
  display: flex;
  align-items: center;
}

.SidebarPanel__content {
  padding: 20px;
}

.SidebarPanel__content--no-padding {
  padding: 0px;
}
