.Button {
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: var(--color--surface);
  color: var(--color--ink);
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: inherit;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  padding: 7px 13px;
  border: 1px solid var(--color--border);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-column: center;
  color: var(--color--ink-subtle);
}

.Button:hover {
  background-color: var(--color--surface-hover);
}

.Button svg {
  fill: var(--color--ink-subtle);
}

.Button--s {
  padding: 3px 10px;
}

.Button--disabled {
  cursor: not-allowed;
  color: var(--color--disabled--ink);
}

.Button--disabled:hover {
  background: var(--color--surface);
}

.Button--selected {
  background-color: var(--color--primary--surface-secondary);
  color: var(--color--primary--ink);
}

.Button--selected svg {
  fill: var(--color--primary--ink);
}

.Button--selected:hover {
  background-color: var(--color--primary--surface-secondary);
}

.Button--selected:hover,
.Button--selected.Button--disabled {
  background-color: var(--color--primary--surface-secondary);
}

.Button:first-child {
  border-radius: 4px 0 0 4px;
  border-left-width: 1px;
}

.Button:last-child {
  border-radius: 0 4px 4px 0;
}
