.textInput {
  padding: 0.7em 1em;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: transparent;
  color: $base-body-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s $material-ease;
  font-size: 1.1em;
  font-weight: 500;
  border: 1px solid transparent;
  opacity: 1;
}

.textInput:hover,
.textInput:focus {
  opacity: 0.8;
}

.textInput:active {
  opacity: 0.7;
}

.disabled {
  border-width: 0;
  color: rgba(0, 0, 0, 0.2);
  background-color: var(--lightBgColor);
  cursor: not-allowed;
}

.textInputType-muted {
  background-color: var(--lightColor);
  color: var(--accentColor);
}

.textInputType-primary {
  border-width: 0;
  background-color: var(--accentColor);
  color: white;
}

.textInputType-primary:hover,
.textInputType-primary:focus,
.textInputType-primary:active {
  color: white;
}

.textInputType-primary.disabled {
  background-color: var(--disabledColor);
  color: rgba(0, 0, 0, 0.2);
}

.textInputType-primary.disabled:hover,
.textInputType-primary.disabled:focus,
.textInputType-primary.disabled:active {
  color: rgba(0, 0, 0, 0.2);
}

.textInputType-negative {
  background-color: var(--alertColor);
  border-width: 0;
  color: white;
}

.textInputType-negative:hover,
.textInputType-negative:focus,
.textInputType-negative:active {
  color: white;
  background-color: var(--alertColor);
}

.textInputType-negative.disabled {
  background-color: var(--disabledColor);
  color: rgba(0, 0, 0, 0.2);
}

.textInputSize-xxs {
  font-size: 1em;
  padding: 0.5em 0.8em;
}

.textInputSize-xs {
  font-size: 1em;
  padding: 0.6em 0.8em;
}

.textInputSize-s {
  font-size: 1em;
}

.textInputSize-l {
  font-size: 1.2em;
}

.textInputSize-xl {
  font-size: 1.2em;
  padding: 1em 1em;
}

.fullWidth {
  text-align: center;
  display: block;
  width: 100%;
}
